.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h1{
    font-size: 62px;
    color: #FFFFFF;
    padding: 40px;
}

.contato-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.contato-content form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contato-content form input{
    display: flex;
    padding: 10px 30px;
    border-radius: 30px;
    background: transparent;
    font-size: 30px;
    color: #FFFFFF;
    border: 2px solid #e63946;
    outline: none;
    margin: 10px 0px;
}

.contato-content form textarea{
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #e63946;
    height: 200px;
    border-radius: 30px;
    font-size: 30px;
    outline: none;
    resize: none;
    padding: 10px 15px;
    margin: 10px 0px;
}

.contato-content form textarea::placeholder, input::placeholder{
    color: #FFFFFF;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.button-contato{
    cursor: pointer;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #e63946;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0px;
}


@media (min-width:320px) and (max-width:768px) {
    .contato-content form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contato h1{
        padding: 0px;
    }
    .contato-content{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .contato-content form input{
        display: flex;
        padding: 5px 15px;
        border-radius: 30px;
        background: transparent;
        font-size: 20px;
        color: #FFFFFF;
        border: 2px solid #e63946;
        outline: none;
        margin: 10px 0px;
    }
    .contato-content form textarea::placeholder, input::placeholder{
        color: #FFFFFF;
        display: flex;
        background: transparent;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    
}

@media (min-width:1024px) and (max-width:1366px) {
    .contato-content form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contato-content{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
}