@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Blinker', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #232323;
}
img{
    -webkit-user-drag: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #232323;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #e63946;
    border-radius: 30px;
}

.d-none{
    display: none;
}